* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: rgb(252, 252, 252);
}

.favorites {
  fill: rgb(141, 14, 14) !important;
  stroke: rgb(102, 102, 102);
  stroke-width: 1px;
}

svg {
  transition: all 275ms ease-in;
}

.sunny {
  animation: infinite 3s spin ease;
}

@keyframes spin {
  0% {
    transform: rotate(0) scale(0.5);
  }
  50% {
    transform: scale(0.5);
  }
  70% {
    transform: rotate(360deg) scale(0.5);
  }
  100% {
    transform: rotate(0) scale(0.5);
  }
}
